:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    div {
        background-color: white;
        padding: 50px;
        min-width: 300px;
        max-width: 100%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        h1 {
            animation: wiggle 0.25s 2;
            text-align: center;
            margin-bottom: 0;
            margin-top: -5px;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                position: relative;
                padding: 15px 10px;
                cursor: pointer;

                span {
                    position: relative;
                    user-select: none;
                    transition: opacity 0.5s;

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: calc(100% + .5em);
                        left: -.25em;
                        height: 2px;
                        top: 50%;
                        border-radius: 1px;
                        background: #2E2E2E;
                        transform: scaleX(0);
                        transition: transform 0.2s;
                        transform-origin: center right;
                    }
                }

                &:after {
                    font-family: "Font Awesome 5 Free";
                    content: "\f00c";
                    position: absolute;
                    font-weight: 900;
                    right: .75rem;
                    color: #2ecc71;
                    opacity: 0;
                    transition: opacity 0.5s;
                }

                &.complete {
                    &:after {
                        opacity: 1;

                    }

                    span {
                        opacity: 0.5;

                        &:after {
                            transform-origin: center left;
                            transform: scaleX(1);
                        }
                    }
                }
            }

            li:not(:last-child) {
                border-bottom: 2px solid rgba(211, 211, 211, 0.534);
                border-radius: 2px;
            }
        }

        input {
            padding: 10px;
            border: 1px solid rgba(211, 211, 211, 0.534);
            border-radius: 3px;
            background-color: rgba(211, 211, 211, 0.534);
            transition: background-color 0.5s;
            box-sizing: content-box;

            &:focus {
                background-color: white;
                outline: none;
            }
        }

        span.button {
            $width: 40px;
            width: $width;
            height: $width;
            border-radius: $width/2;
            background-color: #6ad2ff;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $width/2;
            align-self: flex-end;
            margin: 12px 0;
            cursor: pointer;
            transition: box-shadow 0.1s, background-color 0.1s;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

            &.loading {
                background-color: #fda956
            }

            i {
                transition: transform 0.1s;
            }

            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}
